@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    --corPrimaria: #017143;

    --corSecundária: #333;

    --corTerciaria: #fff;

}
 
main {
    position: relative;
    width: 100%;
    min-height: 100vh; /*altura de 1 tela (view height)*/
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--corTerciaria);  
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header .logo:hover {
    filter: invert(0.1); /*Controla o nivel de contraste*/
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block; /*Garante que o link fique sempre em linha */
    color: var(--corSecundária);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    padding: 5px;
    margin-left: 40px;
}

header ul li a:hover {
    background-color: var(--corPrimaria);
    color: var(--corTerciaria);
    border-radius: 40px;
}

.conteudo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo .textoPrincipal {
    position: relative;
    max-width: 600px; /*Largura área de texto*/
  }

.conteudo .textoPrincipal h2 {
    color: var(--corSecundária);
    font-size: 4em; /*1em = 1 x tamanho fonte elemento (16px)*/
    line-height: 1.4em; /* Espaçamento vertical */
    font-weight: 600;
  }

.conteudo .textoPrincipal h2 span {
  color: var(--corPrimaria);
  font-size: 1.2em;
  font-weight: 900;
}
.conteudo .textoPrincipal p {
    color: var(--corSecundária);
  }
.conteudo .textoPrincipal a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: var(--corPrimaria);
  color: var(--corTerciaria);
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px; /*Espaço entre os caractéres*/
  text-decoration: none;
}
.conteudo .textoPrincipal a:hover {
    background-color: var(--corSecundária);
}

.conteudo .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
  }

  .sorvetes {
    position: absolute;
    left: 50%;
    bottom: 20PX;
    transform: translateX(-50%); /*Compensa o ajusto centralizando*/
    display: flex;
  }
  .sorvetes li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer; /* Transforma o cursor em uma mão*/
    transition: 0.5s; /*Tempo de transição*/
  }

  .sorvetes li:hover {
    transform: translateY(-15px); /* Movimenta 15 no eixo y */
  }
  .sorvetes li img{
    max-width: 60px;
  }
  .redesSociais {
    position: relative;
  top: 50px;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .redesSociais li {
    list-style: none;
  }
  .redesSociais li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
  }
  .circulo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--corPrimaria);
    clip-path: circle(600px at right 800px);
  }